



<nav class="navbar navbar-inverse ">


  <div id="navbar" class="navbar-collapse collapse">

    <ul style="display:flex;list-style:none; align-content: center;" class="navbar-nav navbar-left">
      <li class="navbar-brand"> <a style="font-size: larger;color: white;" href="#"><b>Dating App</b></a></li>
      <li class="nav-item " style="margin-top: 19px; "> <a style="font-size: larger;color: white;" class="navbar-link " href="#">Matches</a></li>
      <li class="nav-item " style="margin-top: 19px;"> <a style="font-size: larger;color: white;" class="navbar-link " href="#">Lists</a></li>
      <li class="nav-item " style="margin-top: 19px;"> <a style="font-size: larger;color: white;" class="navbar-link " href="#">Messages</a></li>
      <li *ngIf="loggedIn()" class="nav-item " style="margin-top: 19px;"> <a style="font-size: larger;color: white;" class="navbar-link " (click)="logout()">Logout</a></li>
    </ul>







    <div *ngIf="loggedIn()" class="dropdown navbar-right" style="margin-top: 8px;">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1">
        Welcome User
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
        <li role="separator" class="divider"></li>
        <li><a (click)="logout()"> <i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
    </div>




    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" (ngSubmit)="login()">
      <div class="form-group">
        <input type="text" placeholder="Email" class="form-control" required name="useNname" [(ngModel)]="model.userName">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" required name="password" [(ngModel)]="model.password">
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success">Sign in</button>
    </form>




  </div><!--/.navbar-collapse -->

</nav>
